.who__section {
  text-align: center;
  margin-top: 12vh;
}

.who__header {
  font-size: 3rem;
  text-decoration: underline #DE1A1A;
  text-decoration-thickness: 8px;
}

.who__text {
  padding: 0 2rem;
  line-height: 1.5rem;
}

@media (min-width: 800px) {
  .who__text {
    padding: 0 6rem;
    max-width: 60rem;
    margin: 1rem auto;
  }
}
