.where__section {
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.where__header {
  font-size: 3rem;
  text-decoration: underline #DE1A1A;
  text-decoration-thickness: 8px;
}

.where__cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

@media (min-width: 800px) {
  .where__cards-container {
    flex-direction: row;
  }
}
