.where__card {
  font-family: "Lilita One";
  width: 80%;
  margin: 2rem auto;
  border: 8px solid #DE1A1A;
  padding: 4rem 1rem;

  background-color: white;
  background-image:
    linear-gradient(45deg, rgba(222, 26, 26, 0.15) 25%, transparent 25%,
      transparent 75%, rgba(222, 26, 26, 0.15) 75%, rgba(222, 26, 26, 0.15)),
    linear-gradient(45deg, rgba(222, 26, 26, 0.15) 25%, transparent 25%,
      transparent 75%, rgba(222, 26, 26, 0.15) 75%, rgba(222, 26, 26, 0.15));
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;

  /* background: repeating-linear-gradient(
    -45deg,
    rgba(222, 26, 26, 0.15),
    rgba(222, 26, 26, 0.15) 20px,
    white 20px,
    white 40px
  ); */
}

.where__card-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 0;
}

.where__card-text {
  text-transform: uppercase;
  font-size: 1rem;
}

.where__card-text-bottom {
  margin-bottom: 32px;
}

.where__card-link {
  color: black;
  font-size: 1.2rem;
  text-decoration: underline #DE1A1A;
  text-decoration-thickness: 4px;
}

.where__card-link:hover {
  color: #DE1A1A;
  text-decoration: none;
}

@media (min-width: 800px) {
  .where__card {
    width: 22%;
    max-width: 16rem;
    margin: 0 auto;
  }
}
