.available-meals__list {
  padding: 0;
  display: grid;
  gap: 1rem 2rem;
  max-width: 80%;
  margin: 0 auto;
}

.menu__error-text {
  font-size: 1.2rem;
  padding: 1rem;
}

@media (min-width: 800px) {
  .available-meals__list {
    grid-template-columns: 1fr 1fr;
  }
}
