.cart__container {
  color: white;
}

.cart__list {
  padding: 0 1rem;;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 0 auto;
  max-width: 10rem;
  font-size: 1.5rem;
}

.cart__button {
  all: unset;
  background-color: white;
  color: #DE1A1A;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 40px;
  margin: 2rem 0 1rem 0;
}

.cart__button:hover {
  scale: 1.05;
  transition: scale 0.5s;
  cursor: pointer;
}

.cart__text-empty {
  margin-bottom: 2rem;
}
