.cart__list-item {
  list-style: none;
  display: grid;
  grid-template-columns: 4fr 1fr 3fr;
  max-width: 32rem;
  margin: 0 auto 1rem auto;
  font-size: 1.2rem;
  align-items: center;
}

.cart__list-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  min-width: 6rem;
}

.cart__list-button {
  all: unset;
  font-size: 1.5rem;
  background-color: white;
  color: #DE1A1A;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__list-button-minus {
  position: relative;
}

.cart__list-button-minus p {
  position: absolute;
  top: 0rem;
  margin: 0;
}

.cart__list-name {
  justify-self: start;
}


@media (min-width: 800px) {
  .cart__list-item {
    font-size: 1.5rem;
  }

  .cart__list-button-container {
    min-width: 8rem;
  }

  .cart__list-button {
    font-size: 2rem;
    padding: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .cart__list-button-minus p {
    top: -0.1rem;
  }
}
