.checkout__container {
  text-align: center;
}

.checkout__title-main {
  color: #DE1A1A;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.checkout__title {
  color: #DE1A1A;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.checkout__total {
  display: flex;
  width: 12rem;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.5rem;
}

.checkout-section {
  margin-bottom: 3rem;
}

.checkout__button {
  all: unset;
  background-color: #DE1A1A;
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 40px;
  margin-bottom: 1rem;
}

.checkout__button a {
  color: white;
  text-decoration: none;
}

.checkout__button:hover {
  scale: 1.05;
  transition: scale 0.5s;
  cursor: pointer;
}
.checkout__error {
  color: red;
  margin-top: 1rem;
}

.checkout-response-text {
  font-size: 2rem;
}

.checkout__img {
  height: 8rem;
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .checkout__title-main {
    font-size: 3rem;
  }

  .checkout__title {
    font-size: 2rem;
  }

  .checkout__img {
    height: 12rem;
  }
}
