.menu__section {
  border: 5px dashed #DE1A1A;
  text-align: center;
  padding-bottom: 3rem;
  max-width: 60rem;
  margin: 0 auto;
}

.menu__header {
  font-family: "Lilita One";
  font-size: 3rem;
  text-decoration: underline #DE1A1A;
  text-decoration-thickness: 8px;
}

.menu__tabs {
  display: flex;
  justify-content: space-evenly;
}

.menu__tab {
  font-family: "Lilita One";
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .menu__tab {
    font-size: 2rem;
  }
}
