.order-menu__item-container {
  list-style: none;
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.order-menu__item {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.order-menu__item-text {
  text-align: left;
}

.order-menu__item-name {
  margin: 0;
  color: #DE1A1A;
  text-transform: uppercase;
}

.order-menu__item-description {
  padding-right: 2rem;
}

.order-menu__item-price {
  color: #DE1A1A;
  font-size: 1.5rem;
}
