.order-summary__container {
  background-color: #DE1A1A;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border-radius: 16px;
}

.order-summary__title {
  color: white;
  font-size: 2rem;
  font-family: "Lilita One";

}
