.navbar__section {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  font-family: "Lilita One";
  font-size: 1.5rem;
  padding: 4rem 0rem;
  align-items: center;
}

.navbar__link {
  margin-bottom: 1rem;
}

.navbar__link:hover {
  cursor: pointer;
  color: #DE1A1A;
  transition: color 0.5s;
}

@media (min-width: 800px) {
  .navbar__section {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbar__link {
    margin-bottom: 0;
  }
}
